.blockTabs {
    display: flex;
}

input[type='radio'] {
    display: none;
}

input[type='radio'] + label {
    padding: 15px;
    margin-bottom: 0;
    border: 1px solid #dfe5ec;
    width: 100%;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #4a4a4a;
}

input[type='radio'] + label:nth-child(2) {
    border-radius: 5px 0 0 5px;
}

input[type='radio'] + label:nth-child(4) {
    border-radius: 0 5px 5px 0;
}

input[type='radio']:checked + label {
    background: #2196f3;
    color: #fff;
}
