.wrapper {
    width: 232px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 60px;
}

.quantityTitle {
    padding-top: 20px;
}

.filterItem:hover,
.filterItem label:hover {
    background: #f1fcff;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

h2 {
    padding-left: 20px;
}

li {
    display: flex;
    padding: 10px 0 10px 50px;
}

input[type='checkbox'] {
    display: none;
}
label {
    position: relative;
}
label:before {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    outline: 1px solid #9abbce;
    border-radius: 2px;
}
input[type='checkbox']:checked + label:before {
    content: '\2714';
    display: inline-block;
    box-sizing: border-box;
    padding: 0 0 2px 4px;
    color: #2196f3;
}
